.slick-dots {
	display: flex !important;
	position: absolute;
	bottom: 2rem;
	justify-content: center;
	width: 100%;

	li {
		display: flex;
		align-items: center;
		button {
			position: relative;
			background-color: transparent;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			border-radius: 50%;
			margin: 0 4px;
			padding: 0;
			margin: 0 5px;
			width: 13px;
			height: 13px;
			color: transparent;
			line-height: 24px;
			background-color: theme('colors.white');
		}

		&.slick-active {
			button {
				width: 15px;
				height: 15px;
				background-color:theme('colors.blue');
			}
		}
	}
}

@mixin title_with_udreline_default() {
	text-transform: uppercase;
	&::after {
		content: '';
		display: block;
		min-width: 5rem;
		background-color: theme('colors.blue');
		height: 3px;
		bottom: -2rem;
		position: absolute;
	}
}
@mixin title_with_udreline_centered() {
	text-transform: uppercase;
	&::after {
		content: '';
		display: block;
		min-width: 5rem;
		background-color: theme('colors.blue');
		height: 3px;
		bottom: -2rem;
		left: 50%;
		transform: translateX(-50%);
		position: absolute;
	}
}
section {
	h2.title {
		@include title_with_udreline_default()
	}
}

.top_skew {
	&::before {
		top: -1px;
		left: 0;
		clip-path: polygon(0 0, 100% 0, 97% 100%, 0% 100%);
	}
	
	&::before {
		position: absolute;
		width: 38%;
		height: 30px;
		display: block;
		content: '';
		transition: width 0.3s ease-out;
		background-color: #fff;
	}
}
.bottom_skew {
	&::after {
		position: absolute;
		width: 38%;
		height: 30px;
		display: block;
		content: '';
		transition: width 0.3s ease-out;
		background-color: #fff;
	}
	&::after {
		bottom: -1px;
		right: 0;
		clip-path: polygon(3% 0, 100% 0, 100% 100%, 0% 100%);
	}
}
@media (max-width: theme('screens.md')) {
	section{
		h2.title {
			@include title_with_udreline_centered()
		}
	}
}