.slick-dots {
	display: flex !important;
	position: absolute;
	bottom: 2rem;
	justify-content: center;
	width: 100%;

	li {
		display: flex;
		align-items: center;
		button {
			position: relative;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			border-radius: 50%;
			margin: 0 7px;
			padding: 0;
			width: 13px;
			height: 13px;
			color: transparent;
			line-height: 24px;
			background-color: theme('colors.white');
			transition: all 0.3s linear;
			&:hover {
				width: 15px;
				height: 15px;
			}
		}

		&.slick-active {
			button {
				width: 15px;
				height: 15px;
				background-color:theme('colors.yellow');
			}
		}
	}
}

@mixin title_with_udreline_default($bg: 'blue') {
	text-transform: uppercase;
	&::after {
		content: '';
		display: block;
		min-width: 5rem;
		height: 3px;
		bottom: -2rem;
		position: absolute;
		background-color: theme('colors.yellow');
	}
}
@mixin title_with_udreline_centered($bg: 'blue') {
	text-transform: uppercase;
	&::after {
		content: '';
		display: block;
		min-width: 5rem;
		height: 3px;
		bottom: -2rem;
		left: 50%;
		transform: translateX(-50%);
		position: absolute;
		background-color: theme('colors.yellow');
	}
}
section {
	h2.title {
		@include title_with_udreline_default()
	}
}

.rich_text {
	h4 {
		font-size: 1.1rem;
	}
	h5 {
		font-size: 1.25rem;
	}
	h6 {
		font-size: 1.4rem;
	}
	h4, h5 , h6 {
		font-weight: bold;
		margin: 1rem 0;
	}
	p {
		margin-bottom: 5px;
	}
	ul { 
		padding-left: 1rem;
		li {
			list-style-type: disc;
		}
	}
	a:not(.button) {color: theme('colors.blue')}
}

.top_skew {
	&::before {
		top: -1px;
		left: 0;
		clip-path: polygon(0 0, 100% 0, 97% 100%, 0% 100%);
	}
	
	&::before {
		position: absolute;
		width: 38%;
		height: 30px;
		display: block;
		content: '';
		transition: width 0.3s ease-out;
		background-color: #fff;
	}
}
.bottom_skew {
	&::after {
		position: absolute;
		width: 38%;
		height: 30px;
		display: block;
		content: '';
		transition: width 0.3s ease-out;
		background-color: #fff;
	}
	&::after {
		bottom: -1px;
		right: 0;
		clip-path: polygon(3% 0, 100% 0, 100% 100%, 0% 100%);
	}
}
@media (max-width: theme('screens.md')) {
	section{
		h2.title {
			@include title_with_udreline_centered()
		}
	}
	.top_skew::before,
	.bottom_skew::after {
		display: none;
	}
}

.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}
.page-enter, .page-leave-to {
  opacity: 0;
}